#bird {
    height: 10%;
    width: auto;
    position: absolute;
}

html {
    background-color: #3db1ff;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pipe {
    height: 75%;
    width: auto;
    position: absolute;
}

body {
  height: 100%;
  overflow: hidden;
}

#score {
    font-family: 'Encode Sans Expanded', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
}
